# Web & Server
fastapi
uvicorn
python-multipart

# Google & AI
google-genai
google-cloud-storage
google-cloud-secret-manager

# Segurança (Ajustado para evitar o erro de 72 bytes)
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]

# Processamento de Dados & Templates
Pillow
openpyxl
jinja2
pyyaml
requests
beautifulsoup4
pydantic-settings

# Database
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4